<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="QConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    </configSections>
  
    <entityFramework>
      <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
        <parameters>
          <parameter value="mssqllocaldb" />
        </parameters>
      </defaultConnectionFactory>
      <providers>
        <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
      </providers>
    </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <QConsole.Properties.Settings>
            <setting name="MainWindowHeight" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="MainWindowWidth" serializeAs="String">
                <value>1300</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Maximized</value>
            </setting>
            <setting name="MainWindowLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainWindowTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentConnectionIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="LogPanelVisibility" serializeAs="String">
                <value>Visible</value>
            </setting>
            <setting name="LogPanelSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TabGrants_SplitterLayers" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="ButtonTimerChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnStrings" serializeAs="String">
                <value />
            </setting>
            <setting name="IsCheckUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TabQuery_SplitterMain" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ButtonTimerPeriod" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ButtonChartChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConfigurationsPostgreSQL" serializeAs="String">
                <value />
            </setting>
        </QConsole.Properties.Settings>
    </userSettings>

  <!-- Добавить!!! -->
  <system.data>
    <DbProviderFactories>
      <remove invariant="Npgsql"/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF"/>
    </DbProviderFactories>
  </system.data>
  
  
</configuration>